* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* HERO BACKGROUND */
.hero {
  height: 100vh;
  background: linear-gradient(to bottom, #2f2dfc 0%, #8c83c9 50%, #f2f2f2 100%);
  position: relative;
  padding-top: 30px;
}

/* NAVBAR */
.top-bar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}

.logo-box {
  width: 60px;
  height: 60px;
  border: 3px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 250px;
}

.k-logo {
  font-size: 28px;
  color: white;
  font-weight: bold;

}

/* CENTER NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  gap: 40px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  padding: 18px 60px;
  border-radius: 50px;
  border: 2px solid rgba(255,255,255,0.5);
}

.nav a {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

/* RIGHT CONTROLS */
.right-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  border-radius: 30px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.5);
  color: white;
  margin-left: 20px;
}

.theme {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* TITLE */
.hero-title {
  font-family: 'Press Start 2P';
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  color: rgba(255,255,255,0.35);
}

.title-line {
  height: 2px;
  width: 60%;
  background: cyan;
  margin: 15px auto 0;
}

/* CENTER BIG LOGO */
.center-logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.big-k {
  font-size: 300px;
  font-weight: bold;
  color: rgba(255,255,255,0.8);
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 80px;
  margin-top: -80px;
}

.glass {
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,0.2);
  border-radius: 25px;
  border: 5px solid rgba(255,255,255,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}

.small {
  width: 280px;
  height: 200px;
}

.big {
  width: 300px;
  height: 240px;
}

/* BLUR BLOBS */
.blob {
  position: absolute;
  width: 250px;
  height: 250px;
  background: blue;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.6;
}

.left {
  bottom: 80px;
  left: -80px;
}

.right {
  bottom: 100px;
  right: -80px;
}